{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class="container">
    <h1>Usuários Cadastrados:</h1>
    <table class="table table-bordered table-striped">
       <thead>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>idade</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuario %}
        <tr>
            <td>{{ usuario.id_usuario }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.idade }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
 